<!DOCTYPE html>
<html>
    <head>
        <title> Help </title>
        <link href="/img/weather.png" rel="icon">
        <link href="style/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> {{message}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>