<!DOCTYPE html>
<html>
    <head>
        <link href="style/style.css" rel="stylesheet">
        <link href="/img/weather.png" rel="icon">
        
    </head>
    <body>
        <div class = "main-content">
            {{>header}}
            <p> Use this site to get your weather</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        
        {{>footer}}

        <script src="/javascript/app.js"></script>
    </body>
</html>